#! /bin/sh

: ${ret:=0}
PROC=/usr/bin/hekad
PID_FILE="{{ heka_hekad_pid_dir}}/{{ heka_hekad_pid_file }}"

get_pid() {
    cat "$PID_FILE"
}

is_running() {
    [ -f "$PID_FILE" ] && ps `get_pid` > /dev/null 2>&1
}

check_privsep_dir() {
    # Create the PrivSep empty dir if necessary
    if [ ! -d {{ heka_hekad_pid_dir}} ]; then
        mkdir {{ heka_hekad_pid_dir}}
        chmod 0755 {{ heka_hekad_pid_dir}}
    fi
}

start(){
  if [ -f $PID_FILE ]; then
        echo "Already started\n"
        exit
  else
        echo "Starting $PROC\n"
  fi

  daemon -n hekad -r -o {{ heka_hekad_log_file }} $PROC -- --config={{ heka_hekad_dir }}
}

stop(){
  daemon -n hekad --stop
}

case "$1" in
  start)
    check_privsep_dir
    start
  ;;
  stop)
    stop
  ;;
  restart)
    stop
    start
  ;;
  status)
    if is_running; then
      echo "Heka is running"
    else
      echo "No process found"
      exit 1
    fi
  ;;
  *)
    echo $"Usage: $prog {start|stop|restart|status}"
    exit 3
  ;;
esac

exit $ret
